@model SurveilAI.Models.User

@{
    Layout = null;
    string AccType = Session["Role"].ToString();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IIS | @ViewBag.Title</title>

    <link rel="shortcut icon" href="~/Content/tab icon.ico" type="image/ico" />

    <!-- ================== GOOGLE FONTS ==================-->
    @*<link href="~/assets/css/vendor/fontsss.css" rel="stylesheet" />*@
    <!-- ======================= GLOBAL VENDOR STYLES ========================-->
    <link rel="stylesheet" href="~/assets/css/vendor/bootstrap.css">
    <link rel="stylesheet" href="~/assets/vendor/metismenu/dist/metisMenu.css">
    <link rel="stylesheet" href="~/assets/vendor/switchery-npm/index.css">
    <link rel="stylesheet" href="~/assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">
    <!-- ======================= LINE AWESOME ICONS ===========================-->
    <link rel="stylesheet" href="~/assets/css/icons/line-awesome.min.css">
    <!-- ======================= DRIP ICONS ===================================-->
    <link rel="stylesheet" href="~/assets/css/icons/dripicons.min.css">
    <!-- ======================= MATERIAL DESIGN ICONIC FONTS =================-->
    <link rel="stylesheet" href="~/assets/css/icons/material-design-iconic-font.min.css">
    <!-- ======================= PAGE VENDOR STYLES ===========================-->
    <link rel="stylesheet" href="~/assets/vendor/jvectormap-next/jquery-jvectormap.css">
    <!-- ======================= PAGE LEVEL VENDOR STYLES ============================-->
    <link rel="stylesheet" href="~/assets/vendor/datatables.net-bs4/css/dataTables.bootstrap4.css">
    <!-- ======================= GLOBAL COMMON STYLES ============================-->
    <link rel="stylesheet" href="~/assets/css/common/main.bundle.css">
    <!-- ======================= LAYOUT STYLES ===========================-->
    <link rel="stylesheet" href="~/assets/css/layouts/horizontal/core/main.css">
    <!-- ======================= MENU TYPE ===========================-->
    <link rel="stylesheet" href="~/assets/css/layouts/horizontal/menu-type/auto-hide.css">
    <!-- ======================= THEME COLOR STYLES ===========================-->
    <link rel="stylesheet" href="~/assets/css/layouts/horizontal/themes/theme-j.css">
</head>
<body>

    <!-- START APP WRAPPER -->
    <div id="app">
        <!-- START TOP HEADER WRAPPER -->
        <div class="header-wrapper">
            <div class="header-top">
                <!-- START MOBILE MENU TRIGGER -->
                <ul class="mobile-only navbar-nav nav-left">
                    <li class="nav-item">
                        <a href="javascript:void(0)" data-bs-toggle-state="aside-left-open">
                            <i class="icon dripicons-align-left"></i>
                        </a>
                    </li>
                </ul>
                <!-- END MOBILE MENU TRIGGER -->
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-lg-2">
                            <ul class="site-logo">
                                <li>
                                    <!-- START LOGO -->
                                    <a href="Javascript:void(0)">
                                        <div class="logo" style="top:12px !important;">
                                            <img class="img-responsive" src="~/Content/Innomatelogo.png" style="max-width:100px" />
                                        </div>
                                    </a>
                                    <!-- END LOGO -->
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-10">
                            <!-- START TOP TOOLBAR WRAPPER -->
                            <div class="top-toolbar-wrapper">
                                <nav class="top-toolbar navbar flex-nowrap">
                                    <ul class="navbar-nav nav-right">
                                        <li class="nav-item dropdown dropdown-menu-lg">
                                            <a class="nav-link nav-pill user-avatar" data-bs-toggle="dropdown" href="dashboard.analytics.html#" role="button" aria-haspopup="true" aria-expanded="false">
                                                <img src="~/Content/images.png" class="w-40 rounded-circle" alt="User Pic">
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-accout">
                                                <div class="dropdown-header pb-3">
                                                    <div class="media d-user">
                                                        <img class="align-self-center mr-3 w-40 rounded-circle" src="~/Content/images.png" alt="User Pic">
                                                        <div class="media-body">
                                                            @if (Session["UserID"] != null)
                                                            {
                                                                <h5 class="mt-0 mb-0">@Session["UserID"].ToString() </h5>
                                                            }
                                                            @if (Session["Role"] != null)
                                                            {
                                                                <span>@Session["Role"].ToString() </span>
                                                            }

                                                        </div>
                                                    </div>
                                                </div>
                                                <br />
                                                <a class="dropdown-item" href="@Url.Action("LogOut","Login")"><i class="icon dripicons-lock"></i> Sign Out</a>
                                            </div>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- END TOP TOOLBAR WRAPPER -->
                        </div>
                    </div>
                </div>
                <!-- START MOBILE TOOLBAR TRIGGER -->
                <ul class="mobile-only navbar-nav nav-right">
                    <li class="nav-item">
                        <a href="javascript:void(0)" data-bs-toggle-state="mobile-topbar-toggle">
                            <i class="icon dripicons-dots-3 rotate-90"></i>
                        </a>
                    </li>
                </ul>
                <!-- END MOBILE TOOLBAR TRIGGER -->
            </div>



            <div class="content-wrapper">
                <div class="content container">
                    <header class="page-header">

                        <div class="mr-auto">
                            <h1>CHANGE PASSWORD</h1>
                        </div>

                    </header>
                    <section class="page-content">
                        <div class="row card">
                            <div class="col-md-2"></div>
                            <div class="col-md-8  container-fluid">


                                <h5 class="card-header">A strong password helps prevent unauthorized access to your account.</h5>
                                @using (Html.BeginForm("ChangePassword", "Login", FormMethod.Post, new { @id = "FPC-form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="card-body">
                                        <div class="mb-3">
                                            <input type="hidden" value="@AccType" id="h-acctype" />
                                            @Html.TextBoxFor(m => m.AccountType, new { @disabled = "disabled", @class = "hidden", @type = "hidden" })
                                            <label>Current Password</label>
                                            @Html.HiddenFor(m => m.PasswordE)
                                            @Html.PasswordFor(m => m.Password, new { placeholder = "Current Password", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                            <small style="color:red !important; display:none;" class="form-text text-muted" id="pass-val"></small>
                                            <small style="color:red !important; display:none;" class="form-text text-muted" id="new2-pass-val">All fields are required.</small>

                                        </div>
                                        <div class="mb-3">
                                            <label>New Password</label>
                                            @Html.HiddenFor(m => m.newPasswordE)
                                            @Html.PasswordFor(m => m.newPassword, new { placeholder = "New Password", id = "newPassword", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.newPassword, "", new { @class = "text-danger" })
                                            <small style="color:red !important; display:none;" class="form-text text-muted" id="new-pass-val"></small>
                                            <br />
                                            <div id="ss">
                                                <label>Confirm Password</label>
                                                @Html.HiddenFor(m => m.newPassword2E)
                                                @Html.PasswordFor(m => m.newPassword2, new { placeholder = "Re-enter New Password", id = "newPassword2", @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.newPassword2, "", new { @class = "text-danger" })
                                                <small style="color:#ff5c75 !important;" class="form-text text-muted" id="password2-msg">@TempData["errormessage2"]</small><br />
                                                <small style="color:green !important;" class="form-text text-muted" id="done-msg">@TempData["DoneMsg"]</small><br />
                                                <small style="color:red !important; display:none;" id="pass-policy" class="form-text text-muted">Password not valid according to policy</small>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="card-footer bg-light text-center">
                                        <button type="submit" class="btn btn-primary" id="FPC-submit">Submit</button>
                                        <button type="button" class="btn btn-secondary clear-form">Clear</button>
                                    </div>

                                }
                            </div>
                            <div class="col-md-offset-2"></div>
                            <hr />
                            <footer class="container-fluid">
                                <p>&copy; @DateTime.Now.Year - INNOVATIVE PVT-LTD</p>
                            </footer>
                        </div>
                    </section>
                </div>
            </div>

        </div>
        <input type="hidden" id="my-val" value="$#Ipl@innomate#$" />
    </div>

    <script src="~/assets/vendor/modernizr/modernizr.custom.js"></script>
    <script src="~/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/crypto-js/crypto-js.js"></script>




    <script>
        //Form submit
        $('#FPC-submit').click(function (e) {
            debugger;
            e.preventDefault();
            $('#password2-msg').text("");
            var Pass1 = $('#Password').val();
            var Pass2 = $('#newPassword').val();
            var Pass3 = $('#newPassword2').val();
            var lVal = $('#my-val').val();
            var cc = CryptoJS.enc.Utf8.parse(lVal);
            if (Pass1 != "" && Pass2 != "" && Pass3 != "") {
                $('#new2-pass-val').hide();
                Pass1 = CryptoJS.AES.encrypt(CryptoJS.enc.Utf8.parse(Pass1), cc,
                {
                   keySize: 128 / 8,
                   iv: cc,
                   mode: CryptoJS.mode.CBC,
                   padding: CryptoJS.pad.Pkcs7
                });
                Pass2 = CryptoJS.AES.encrypt(CryptoJS.enc.Utf8.parse(Pass2), cc,
                {
                   keySize: 128 / 8,
                   iv: cc,
                   mode: CryptoJS.mode.CBC,
                   padding: CryptoJS.pad.Pkcs7
                });
                Pass3 = CryptoJS.AES.encrypt(CryptoJS.enc.Utf8.parse(Pass3), cc,
                {
                   keySize: 128 / 8,
                   iv: cc,
                   mode: CryptoJS.mode.CBC,
                   padding: CryptoJS.pad.Pkcs7
                });

                var accType = $('#AccountType').val();
                          var Password2 = $('#newPassword2').val();
                            var lVal = $('#my-val').val();
                            var cc = CryptoJS.enc.Utf8.parse(lVal);

                            var enPas = CryptoJS.AES.encrypt(CryptoJS.enc.Utf8.parse(Password2), cc,
                            {
                               keySize: 128 / 8,
                               iv: cc,
                               mode: CryptoJS.mode.CBC,
                               padding: CryptoJS.pad.Pkcs7
                                });
                            var pp = "'" + enPas + "'";
                            $.ajax({
                                url: "@Url.Action("PasswordPolicyCheck", "User")",
                                data: { newPassword2: pp, AccountType: accType },
                                type: "Post",
                                dataType: "text",
                                success: function (data) {
                                    if (data == "true") {
                                        $('#password2-msg').text("");
                                        $('#Password').val("********");
                                        $('#newPassword').val("********");
                                        $('#newPassword2').val("********");
                                        $('#PasswordE').val(Pass1);
                                        $('#newPasswordE').val(Pass2);
                                        $('#newPassword2E').val(Pass3);
                                        document.getElementById("FPC-form").submit();
                                    }
                                    else {
                                        data = data.replace(/\"/g, "");
                                        if (Password2 != "") {
                                            $('#pass-policy').show();
                                            $('#pass-policy').text(data);
                                        }
                                        else {
                                            $('#pass-policy').hide();
                                            $('#pass-policy').text("");
                                        }
                                    }
                                },
                                error: function (data) {

                                }
                            });
            }
            else
            {
                $('#new2-pass-val').show();
            }



                });

                $('#newPassword2').keyup(function () {
                    var Password2 = $('#newPassword2').val();
                    if (Password2 == "") {
                        $('#password2-msg').text("");
                    }
                });

                //Check Password policy
                @*$('#newPassword2').blur(function () {
                  var accType = $('#AccountType').val();
                  var Password2 = $('#newPassword2').val();
                    var lVal = $('#my-val').val();
                    var cc = CryptoJS.enc.Utf8.parse(lVal);

                    var enPas = CryptoJS.AES.encrypt(CryptoJS.enc.Utf8.parse(Password2), cc,
                    {
                       keySize: 128 / 8,
                       iv: cc,
                       mode: CryptoJS.mode.CBC,
                       padding: CryptoJS.pad.Pkcs7
                        });
                    var pp = "'" + enPas + "'";
                    $.ajax({
                        url: "@Url.Action("PasswordPolicyCheck", "User")",
                        data: { newPassword2: pp, AccountType: accType },
                        type: "Post",
                        dataType: "text",
                        success: function (data) {
                            if (data == "true") {
                                $('#password2-msg').text("");
                            }
                            else {
                                data = data.replace(/\"/g, "");
                                if (Password2 != "") {
                                    $('#password2-msg').text(data);
                                }
                                else {
                                    $('#password2-msg').text("");
                                }
                            }
                        },
                        error: function (data) {

                        }
                    });
                });*@
        $(document).ready(function () {

                    var AccType = $('#h-acctype').val();
                    $('#AccountType').val(AccType);
                    $("#newPassword2").keyup(function () {
                        if ($('#newPassword2').val() == "" && $('#newPassword').val() == "") {
                            $('#newPassword2').css('border-color', '#dfe7f3');
                            $('#newPassword').css('border-color', '#dfe7f3');
                        }
                        else if ($('#newPassword2').val() == $('#newPassword').val()) {
                            $('#newPassword2').css('border-color', 'green');
                            $('#newPassword').css('border-color', 'green');
                        } else if ($('#newPassword').val() != $('#newPassword2').val()) {
                            $('#newPassword2').css('border-color', 'red');
                            $('#newPassword2').css('border-color', 'red');
                        }
                    });
                    $("#newPassword").keyup(function () {
                        if ($('#newPassword').val() == "" && $('#newPassword2').val() == "") {
                            $('#newPassword2').css('border-color', '#dfe7f3');
                            $('#newPassword').css('border-color', '#dfe7f3');
                        }
                        else if ($('#newPassword2').val() == $('#newPassword').val()) {
                            $('#newPassword2').css('border-color', 'green');
                            $('#newPassword').css('border-color', 'green');
                        } else if ($('#newPassword').val() != $('#p2').val()) {
                            $('#newPassword2').css('border-color', 'red');
                            $('#newPassword').css('border-color', 'red');
                        }
                    });

                });

    </script>


    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>
