
@{
    ViewBag.Title = "PasswordPolicy";
    Layout = "~/Views/Shared/_Layout - Copy.cshtml";
}

<div class="content-wrapper">
    <div class="content container-fluid">

        <header class="page-header">
            <div class="mr-auto">
                <h1 class="separator">INNOMATE</h1>
                <nav class="breadcrumb-wrapper" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)"><i class="icon dripicons-device-desktop"></i></a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Password Policy</a></li>
                    </ol>
                </nav>
            </div>
            <div class="col-md-2" style="padding-top:14px; left:19px;">
                @Html.ActionLink("< Go Back", "StateRepresentation")
            </div>
        </header>

        <section class="page-content">


            <div class="card">
                <h5 class="card-header">
                    Password Policy

                </h5>
                @using (Html.BeginForm("PasswordPolicyPost", "Customize", FormMethod.Post))
                {

                    <div class="card-body">
                        @*<form action="#" class="form-horizontal">*@
                        <div class="form-body">
                            <div class="inputs">
                                <div class="mb-3 row">
                                    <label class="control-label text-right col-md-3">Account Name</label>
                                    <div class="col-md-5">
                                        @Html.DropDownList("AccType", new SelectList(ViewBag.AccType), "Select Account Type", new { @class = "form-control" })
                                    </div>

                                </div>
                                <div class="mb-3 row">
                                    <label class="control-label text-right col-md-3"></label>

                                    <div class="col-md-5">
                                        <small style="font-size:100% !important;color:forestgreen !important;" class="form-text text-muted">@TempData["OKMsg"]</small>
                                        <small style="color:red !important;" class="form-text text-muted">@TempData["NoMsg"]</small>
                                    </div>

                                </div>
                                <hr class="dashed ">
                                <div class="mb-3 row">
                                    <label class="control-label text-right col-md-3">Minumum Length</label>
                                    <div class="col-md-5">
                                        @*@Html.TextBox("minLength", "8", new { @class = "form-control" })*@
                                        @Html.TextBox("minLength", "1", new { @type = "number", @class = "form-control", @min = 8, max = 20, maxlength = 2, @required = true })

                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="control-label text-right col-md-3">Maximum Length</label>
                                    <div class="col-md-5">
                                        @Html.TextBox("maxLength", "20", new { @type = "number", @class = "form-control", @min = 8, max = 25, @maxlength = "2", @required = true })
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="control-label text-right col-md-3">Minimum number of Capital</label>
                                    <div class="col-md-5">
                                        @Html.TextBox("minCapital", "1", new { @type = "number", @class = "form-control", @min = 0, max = 5, @required = true })
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="control-label text-right col-md-3">Minimum Number of digits</label>
                                    <div class="col-md-5">
                                        @Html.TextBox("minDigit", "1", new { @type = "number", @class = "form-control", @min = 0, max = 5, @required = true })
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="control-label text-right col-md-3">Maximum Attempts</label>
                                    <div class="col-md-5">
                                        @Html.TextBox("maxAttempt", "3", new { @type = "number", @class = "form-control", @min = 0, max = 5, @required = true })
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="control-label text-right col-md-3">Reminder After (days)</label>
                                    <div class="col-md-5">
                                        @Html.TextBox("minAge", "30", new { @type = "number", @class = "form-control", @min = 0, max = 99, @required = true })
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="control-label text-right col-md-3">Expire In (days)</label>
                                    <div class="col-md-5">
                                        @Html.TextBox("maxAge", "60", new { @type = "number", @class = "form-control", @min = 0, max = 99, @required = true })
                                    </div>
                                </div>

                                @*<hr class="dashed ">

                                    <div class="mb-3 row">
                                        <label class="control-label text-right col-md-3">Number of old Password Remembered</label>
                                        <div class="col-md-5">
                                            @Html.DropDownList("Password", new SelectList(new[] { "1", "2", "3", "4", "5" }), "Select value", new { @class = "form-control" })

                                        </div>
                                    </div>*@

                                @*<div class="mb-3 row">
                                        <label class="control-label text-right col-md-3">Password Expiry</label>
                                        <div class="col-md-5">
                                            @Html.DropDownList("passwordExpiry", new SelectList(new[] { "30", "60", "90" }), "Select Value", new { @class = "form-control" })
                                        </div>
                                    </div>*@

                            </div>

                        </div>
                        @*</form>*@
                    </div>
                    <div class="card-footer bg-light">
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="offset-sm-3 col-md-5">
                                            <button class="btn btn-primary btn-rounded">Submit</button>
                                            <button class="btn btn-light btn-rounded btn-outline">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>



        </section>

        <script>
            $(document).ready(function () {
                $("#AccType").change(function () {
                    $('#loading').show();
                    $.ajax({
                        url: "@Url.Action("getPwPolicy", "Customize")",
                        data: { Acctype: this.value },
                        type: "Get",
                        dataType: "html",
                        success: function (data) {
                            //string[]passPolicy positions (minlength,maxLength,minCapital,minDigit,maxAttempt,minAge,maxAge,Password,passwordExpiry)

                            var values = data.replace('"', '');
                            values = data.replace('"', '').split(",");
                            console.log(values);
                            $('#minLength').val(values[0]);
                            $('#maxLength').val(values[1]);
                            $('#minCapital').val(values[2]);
                            $('#minDigit').val(values[3]);
                            $('#maxAttempt').val(values[4]);
                            $('#minAge').val(values[5]);
                            $('#maxAge').val(values[6]);
                            //$('#Password').val(values[7]);
                        },
                        error: function (data) {
                            console.log("Error" + data);
                        },
                        complete: function (data) {
                            $('#loading').hide();
                        }

                    });

                });
            });
        </script>

    </div>
</div>



