@model SurveilAI.Models.pmschedule
@{
    ViewBag.Title = "RuleEdit";
    Layout = "~/Views/Shared/_Layout - Copy.cshtml";
}

<div class="content-wrapper">
    <div class="content container-fluid">
        <header class="page-header">
            <div class="mr-auto">
                <h1 class="separator">INNOMATE</h1>
                <nav class="breadcrumb-wrapper" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)"><i class="icon dripicons-wallet"></i></a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)"> Rules</a></li>
                    </ol>
                </nav>
            </div>
        </header>
        <section class="page-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="container" style="    margin-top: 50px;">
                            <div class="stepwizard">
                                <div class="stepwizard-row setup-panel">
                                    <div class="stepwizard-step">
                                        <a href="#step-1" id="RD" type="button" class="btn btn-primary btn-circle" style="color:#bbb !important;">1</a>
                                        <p><small>Rule Data</small></p>
                                    </div>
                                    <div class="stepwizard-step">
                                        <a href="#step-2" id="Res" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                                        <p><small>Resource</small></p>
                                    </div>
                                    <div class="stepwizard-step">
                                        <a href="#step-3" id="Trig" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                                        <p><small>Trigger Type</small></p>
                                    </div>
                                    <div class="stepwizard-step">
                                        <a href="#step-4" id="Act" type="button" class="btn btn-default btn-circle" disabled="disabled">4</a>
                                        <p><small>Add Action</small></p>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            @using (Html.BeginForm("RulePost", "Customize", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <div class="panel panel-primary setup-content" id="step-1">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Enter General Rule Data.</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="mb-3">
                                            <label class="control-label">Name</label>
                                            @Html.TextBox("pmidEdit", Model.pmid, new { placeholder = "Enter Rule Name", @class = "form-control", disabled = "" })
                                            <input class="form-control" id="pmid" name="pmid" type="hidden" value="@Model.pmid">
                                            <input class="form-control" id="check" name="check" type="hidden" value="Edit">
                                        </div>
                                        <div class="mb-3">
                                            <label class="control-label">Description</label>
                                            @Html.TextArea("description", Model.description, new { placeholder = "Enter Rule Description", @class = "form-control", maxlength = "250" })
                                        </div>
                                        <div class="mb-3 row">
                                            <div class="col-md-2">
                                                <label class="control-label">Result:</label>
                                            </div>
                                            <div class="col-md-10">
                                                @{
                                                    var x = false; var y = false; var z = 0;
                                                    <div class="custom-control custom-checkbox checkbox-primary" onclick="CalcDays()">
                                                        @if (Model.resultneeded == 1) { x = true; z = 1; } else { x = false; z = 0; }
                                                        @Html.CheckBox("ResNeed", x, new { @class = "custom-control-input" })
                                                        <label class="custom-control-label" for="ResNeed">Store to Rule Results</label>
                                                        <input class="form-control" id="resultneeded" name="resultneeded" type="hidden" value="@z">
                                                    </div>
                                                    <div class="custom-control custom-checkbox checkbox-primary" onclick="CalcDays()">
                                                        @if (Model.journalneeded == 1) { y = true; z = 1; } else { y = false; z = 0; }
                                                        @Html.CheckBox("JourNeed", y, new { @class = "custom-control-input" })
                                                        <label class="custom-control-label" for="JourNeed">Store to Server Journal</label>
                                                        <input class="form-control" id="journalneeded" name="journalneeded" type="hidden" value="@z">
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="mb-3 row">
                                            <div class="mb-3 col-md-12">
                                                <label class="control-label">Validity Period</label>
                                                @Html.DropDownList("list", new List<SelectListItem>
                                                            { new SelectListItem { Text = "Permanently", Value = "Permanently"}
                                                            //new SelectListItem { Text = "Period of Time", Value = "Period of Time"},
                                                            //new SelectListItem { Text = "Daily", Value = "Daily"},
                                                            //new SelectListItem { Text = "Monthly", Value = "Monthly"},
                                                            //new SelectListItem { Text = "Yearly", Value = "Yearly"},
                                                            //new SelectListItem { Text = "Calendar", Value = "Calendar"},
                                                            //new SelectListItem { Text = "Device Calendar", Value = "Device Calendar"}
                                                            }, new { @class = "form-control" })
                                            </div>
                                            <div id="Permanently" class="sch col-md-12">
                                                <div class="row">
                                                    <h5 class="card-header col-md-12">Permanently</h5>
                                                    <div class="col-md-12">
                                                        <div class="row g-3 align-items-center">
                                                            <div class="col-auto">
                                                                <div class="custom-control custom-checkbox custom-control-inline col-md-6" onclick="CalcDays();">
                                                                    @Html.CheckBox("Day", false, new { id = "Mon", @class = "custom-control-input", required = "required" })
                                                                </div>
                                                            </div>
                                                            <div class="col-auto">
                                                                <label class="custom-control-label" for="Mon">Monday</label>
                                                            </div>

                                                            <div class="col-auto">
                                                                <div class="custom-control custom-checkbox custom-control-inline col-md-6" onclick="CalcDays();">
                                                                    <div class="custom-control custom-checkbox custom-control-inline col-md-1" onclick="CalcDays();">
                                                                        @Html.CheckBox("Day", false, new { id = "Tue", @class = "custom-control-input" })

                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-auto">
                                                                <label class="custom-control-label" for="Tue">Tuesday</label>
                                                            </div>

                                                            <div class="col-auto">
                                                                <div class="custom-control custom-checkbox custom-control-inline col-md-1" onclick="CalcDays();">
                                                                    @Html.CheckBox("Day", false, new { id = "Wed", @class = "custom-control-input" })

                                                                </div>
                                                            </div>
                                                            <div class="col-auto">
                                                                <label class="custom-control-label" for="Wed">Wednesday</label>
                                                            </div>

                                                            <div class="col-auto">
                                                                <div class="custom-control custom-checkbox custom-control-inline col-md-1" onclick="CalcDays();">
                                                                    @Html.CheckBox("Day", false, new { id = "Thr", @class = "custom-control-input" })

                                                                </div>
                                                            </div>
                                                            <div class="col-auto">
                                                                <label class="custom-control-label" for="Thr">Thursday</label>
                                                            </div>


                                                            <div class="col-auto">
                                                                <div class="custom-control custom-checkbox custom-control-inline col-md-1" onclick="CalcDays();">
                                                                    @Html.CheckBox("Day", false, new { id = "Fri", @class = "custom-control-input" })

                                                                </div>
                                                            </div>
                                                            <div class="col-auto">
                                                                <label class="custom-control-label" for="Fri">Friday</label>
                                                            </div>


                                                            <div class="col-auto">
                                                                <div class="custom-control custom-checkbox custom-control-inline col-md-1" onclick="CalcDays();">
                                                                    @Html.CheckBox("Day", false, new { id = "Sat", @class = "custom-control-input" })

                                                                </div>
                                                            </div>
                                                            <div class="col-auto">
                                                                <label class="custom-control-label" for="Sat">Saturday</label>
                                                            </div>

                                                            <div class="col-auto">
                                                                <div class="custom-control custom-checkbox custom-control-inline col-md-1" onclick="CalcDays();">
                                                                    @Html.CheckBox("Day", false, new { id = "Sun", @class = "custom-control-input" })

                                                                </div>
                                                            </div>
                                                            <div class="col-auto">
                                                                <label class="custom-control-label" for="Sun">Sunday</label>
                                                            </div>

                                                        </div>
                                                        <input class="form-control" id="dayofweek" name="dayofweek" type="hidden" value="@Model.dayofweek">
                                                    </div>
                                                </div>
                                                <br />
                                            </div>


                                            @*<div id="Permanently" class="sch col-md-12">
                                                    <div class="row">
                                                        <h5 class="card-header col-md-12">Permanently</h5>
                                                        <div class="col-md-12">
                                                            <br />
                                                            &nbsp;&nbsp;
                                                            <div class="custom-control custom-checkbox custom-control-inline col-md-1" onclick="CalcDays();">
                                                                @Html.CheckBox("Day", false, new { id = "Mon", @class = "custom-control-input" })
                                                                <label class="custom-control-label" for="Mon">Monday</label>
                                                            </div>
                                                            &nbsp;&nbsp;
                                                            <div class="custom-control custom-checkbox custom-control-inline col-md-1" onclick="CalcDays();">
                                                                @Html.CheckBox("Day", false, new { id = "Tue", @class = "custom-control-input" })
                                                                <label class="custom-control-label" for="Tue">Tuesday</label>
                                                            </div>
                                                            &nbsp;&nbsp;&nbsp;
                                                            <div class="custom-control custom-checkbox custom-control-inline col-md-1" onclick="CalcDays();">
                                                                @Html.CheckBox("Day", false, new { id = "Wed", @class = "custom-control-input" })
                                                                <label class="custom-control-label" for="Wed">Wednesday</label>
                                                            </div>
                                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                            <div class="custom-control custom-checkbox custom-control-inline col-md-1" onclick="CalcDays();">
                                                                @Html.CheckBox("Day", false, new { id = "Thr", @class = "custom-control-input" })
                                                                <label class="custom-control-label" for="Thr">Thursday</label>
                                                            </div>
                                                            &nbsp;&nbsp;
                                                            <div class="custom-control custom-checkbox custom-control-inline col-md-1" onclick="CalcDays();">
                                                                @Html.CheckBox("Day", false, new { id = "Fri", @class = "custom-control-input" })
                                                                <label class="custom-control-label" for="Fri">Friday</label>
                                                            </div>
                                                            <div class="custom-control custom-checkbox custom-control-inline col-md-1" onclick="CalcDays();">
                                                                @Html.CheckBox("Day", false, new { id = "Sat", @class = "custom-control-input" })
                                                                <label class="custom-control-label" for="Sat">Saturday</label>
                                                            </div>
                                                            &nbsp;&nbsp;&nbsp;
                                                            <div class="custom-control custom-checkbox custom-control-inline col-md-1" onclick="CalcDays();">
                                                                @Html.CheckBox("Day", false, new { id = "Sun", @class = "custom-control-input" })
                                                                <label class="custom-control-label" for="Sun">Sunday</label>
                                                            </div>
                                                            <input class="form-control" id="dayofweek" name="dayofweek" type="hidden" value="@Model.dayofweek">
                                                        </div>
                                                    </div>
                                                </div>*@

                                        </div>
                                    </div>
                                    <button class="btn btn-primary nextBtn" onclick="CalcDays();" style="float:right;" type="button">Next</button>
                                </div>

                                <div class="panel panel-primary setup-content" id="step-2">
                                    @{
                                        var obj = new SurveilAI.DataContext.ResourceViewModel();
                                        obj.devices = Model.condition;
                                        obj.devicesheir = Model.devices;
                                        obj.Hierar = Model.Hierar;
                                    }
                                    @Html.Partial("_Resources", obj)
                                    <button class="btn btn-primary nextBtn" style="float:right;" onclick="Query();" type="button">Next</button>
                                </div>

                                <div class="panel panel-primary setup-content" id="step-3">
                                    <div class="row">
                                        <div class="col-md-12 text-end">
                                            <span style=" display:none;" class="form-text text-muted text-danger" id="val-states">Please select states</span>
                                        </div>
                                    </div>
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Select Trigger Type and it's Data.</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div>
                                            <div class="card-body">
                                                <div class="mb-3 row container-fluid">
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            @{
                                                                var check = false;
                                                                <div class="col-md-2 custom-control custom-radio custom-control-inline">
                                                                    @if (Model.triggertype == 1) { check = true; } else { check = false; }
                                                                    @Html.RadioButton("Radio1", "eventR", check, new { id = "radio5", @class = "custom-control-input", onclick = "TriggType(\"eventR\")" })
                                                                    <label class="custom-control-label" for="radio5">Event</label>
                                                                </div>
                                                                <div class="col-md-2 custom-control custom-radio custom-control-inline">
                                                                    @if (Model.triggertype == 2) { check = true; } else { check = false; }
                                                                    @Html.RadioButton("Radio1", "stateR", check, new { id = "radio6", @class = "custom-control-input", onclick = "TriggType(\"stateR\")" })
                                                                    <label class="custom-control-label" for="radio6">State</label>
                                                                </div>
                                                                <div class="col-md-2 custom-control custom-radio custom-control-inline">
                                                                    @if (Model.triggertype == 3) { check = true; } else { check = false; }
                                                                    @Html.RadioButton("Radio1", "incidentR", check, new { id = "radio7", @class = "custom-control-input", onclick = "TriggType(\"incidentR\")" })
                                                                    <label class="custom-control-label" for="radio7">Incident</label>
                                                                </div>
                                                            }
                                                            <input class="form-control" id="triggertype" name="triggertype" type="hidden" value="@Model.triggertype">
                                                        </div>
                                                    </div>
                                                    <hr class="col-md-12" />
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <div class="col-md-12 AllDiv2" id="eventR">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="row">
                                                                            <h5 class="card-header col-md-11">Event</h5>
                                                                            <button type="button" class="btn btn-sm btn-warning col-md-1" data-bs-toggle="modal" data-bs-target="#Cmds" style="float:right;">Add </button>
                                                                            <div class="col-12" style="    max-height: 400px;overflow: auto;">
                                                                                <table id="UpdateEvent" class="table table-striped table-bordered col-md-12 dest">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th>Event no.</th>
                                                                                            <th>Event text</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody id="EventTab"></tbody>
                                                                                </table>
                                                                            </div>
                                                                            <div class="alert alert-info alert-outline col-md-12" role="alert">
                                                                                <b style="font-weight:700 !important;">Alert! </b>  Click any row to remove that event.
                                                                            </div>
                                                                            <input class="form-control" id="noevents" name="noevents" type="hidden" value="@Model.noevents">
                                                                            @{
                                                                                var evts = "";
                                                                                foreach (var data in Model.Sendevents)
                                                                                {
                                                                                    //evts += data.textno + "," + data.messagetext.TrimEnd() + "|";
                                                                                    evts += data.textno + "|" + data.messagetext.TrimEnd() + "|";
                                                                                }
                                                                                <input class="form-control" id="eventno" name="eventno" type="hidden" value="@evts">
                                                                            }
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12 AllDiv2" id="stateR">
                                                                @*<div class="col-md-12 AllDiv2" id="stateR" style="max-height:400px; overflow-y:scroll; padding-left:0;">*@
                                                                @{
                                                                    var ltrig = false;
                                                                    <div class="custom-control custom-checkbox checkbox-primary">
                                                                        @if (Model.leveltriggered == 1) { ltrig = true; } else { ltrig = false; }
                                                                        @Html.CheckBox("leveltri", ltrig, new { @class = "custom-control-input" })
                                                                        <label class="custom-control-label" for="leveltri">Trigger on state change only</label>
                                                                        <input class="form-control" id="leveltriggered" name="leveltriggered" type="hidden" value="@Model.leveltriggered">
                                                                    </div>
                                                                    <br />
                                                                    var set = false;
                                                                    var reset = false;
                                                                    if (Model.setreset == 1) { set = false; reset = true; } else if (Model.setreset == 0) { set = true; reset = false; } else { set = true; reset = false; }
                                                                    <div class="col-md-1 custom-control custom-radio custom-control-inline">
                                                                        @Html.RadioButton("Radio3", "Set", set, new { id = "Set", @class = "custom-control-input" })
                                                                        <label class="custom-control-label" for="Set">Set</label>
                                                                    </div>
                                                                    <div class="col-md-1 custom-control custom-radio custom-control-inline">
                                                                        @Html.RadioButton("Radio3", "Reset", reset, new { id = "Reset", @class = "custom-control-input" })
                                                                        <label class="custom-control-label" for="Reset">Reset</label>
                                                                    </div>
                                                                }
                                                                <input class="form-control" id="setreset" name="setreset" type="hidden" value="@Model.setreset">
                                                                <h5 class="card-header col-md-12">State</h5>
                                                                <div class="col-12" style="max-height:400px;overflow: auto;">
                                                                    <table class="table table-striped table-bordered">
                                                                        <tbody>
                                                                            @foreach (var item in Model.state)
                                                                            {
                                                                                <tr>
                                                                                    <td style="min-width:100px;">
                                                                                        <div class="custom-control custom-checkbox">
                                                                                            <input name="StateChk" type="checkbox" class="custom-control-input Coff" id="S-@item.Bit" value="@item.Bit" />
                                                                                            <label class="custom-control-label" for="S-@item.Bit"></label>
                                                                                        </div>
                                                                                    </td>
                                                                                    <td style="min-width:100px;">
                                                                                        @{ var col = item.Color.Split(' '); var color = "rgb(" + col[0] + "," + col[1] + "," + col[2] + ")"; }
                                                                                        <div id="col" style="height:20px; width:20px; border:1px solid black; background-color:@color;"></div>
                                                                                    </td>
                                                                                    <td>
                                                                                        @Html.DisplayFor(it => item.Messagetext)
                                                                                    </td>
                                                                                </tr>
                                                                            }
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                <input class="form-control" id="statebitmask" name="statebitmask" type="hidden" value="@Model.statebitmask">
                                                            </div>
                                                            <div class="col-md-12 AllDiv2" id="incidentR" style="max-height:400px; padding-left:0;">
                                                                <h5 class="card-header col-md-12">Incident</h5>
                                                                <br />
                                                                <label class="control-label col-md-12">Problem Incident Trigger</label>
                                                                @Html.DropDownList("triggers", new List<SelectListItem>
                                                                            { new SelectListItem { Text = "Change Priority", Value = "CP"},
                                                                            new SelectListItem { Text = "Close Incident", Value = "CI"},
                                                                            new SelectListItem { Text = "New Incident", Value = "NI"}
                                                                            }, new { @class = "form-control col-md-10 mb-3", @style = "float: left;", onchange = "PItrigg()" })
                                                                @*Real values in javascript*@
                                                                <input class="form-control" id="problemevent" name="problemevent" type="hidden" value="@Model.problemevent">

                                                                <div class="input-group-prepend col-md-2 pt-3" style="padding-right:0;">
                                                                    @Html.TextBox("classification", null, new { type = "number", min = "1", max = "99", step = "1", @class = "form-control" })
                                                                    <input class="form-control" id="classificate" name="classificate" type="hidden" value="@Model.classification">
                                                                </div>
                                                                <label class="control-label col-md-12 pt-3">Triggering Rule</label>
                                                                @Html.DropDownList("problempmid", (IEnumerable<SelectListItem>)ViewData["Rule"], "", new { @class = "form-control col-md-12" })
                                                                <input class="form-control" id="probpmid" name="probpmid" type="hidden" value="@Model.problempmid">
                                                                <br />
                                                                <div class="custom-control custom-checkbox" id="PicaD">
                                                                    <input name="EMan" type="checkbox" class="custom-control-input Coff" id="Pica" value="Pica" onclick="ForEsc()" />
                                                                    <label class="custom-control-label" for="Pica">Forward to escalation management</label>
                                                                </div>
                                                                <br />
                                                                <label class="control-label col-md-12 ETime">Measurement</label>
                                                                @Html.DropDownList("timetype", new List<SelectListItem>
                                                                            { new SelectListItem { Text = "Period of Time", Value = "0"},
                                                                            new SelectListItem { Text = "Specific Time", Value = "1"}
                                                                            }, new { @class = "form-control col-md-12 ETime" })
                                                                <input class="form-control" id="ttype" name="ttype" type="hidden" value="@Model.timetype">
                                                                <br />
                                                                <div class="input-group mb-1 ETime">
                                                                    <div class="col-md-3"></div>
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text" id="inputGroup-sizing-default">Hour </span>
                                                                    </div>
                                                                    @Html.TextBox("MHrs", null, new { type = "text", min = "00", max = "23", step = "1", @class = "form-control col-md-1" })
                                                                    &nbsp;&nbsp;
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text" id="inputGroup-sizing-default">Minute </span>
                                                                    </div>
                                                                    @Html.TextBox("MMin", null, new { type = "text", min = "00", max = "59", step = "1", @class = "form-control col-md-1" })
                                                                    &nbsp;&nbsp;
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text" id="inputGroup-sizing-default">Priority </span>
                                                                    </div>
                                                                    @Html.TextBox("escalation", null, new { type = "number", min = "1", max = "99", step = "1", @class = "form-control col-md-1" })
                                                                    <input class="form-control" id="escal" name="escal" type="hidden" value="@Model.escalation">
                                                                    <input class="form-control" id="timetoescalate" name="timetoescalate" type="hidden" value="@Model.timetoescalate">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary nextBtn" style="float:right;" onclick="SecFevents();" type="button">Next</button>
                                    </div>
                                </div>


                                <div class="panel panel-primary setup-content" id="step-4">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Add Actions.</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-md-12" style="max-height:400px;">
                                            <div class="row container-fluid">
                                                <div class="col-md-12" style="overflow-y:scroll;">
                                                    <div class="row">
                                                        <h5 class="card-header col-md-11">Actions</h5>
                                                        <button type="button" class="btn btn-sm btn-warning col-md-1" data-bs-toggle="modal" data-bs-target="#Acts" style="float:right;">Add </button>
                                                        <table class="table table-striped table-bordered col-md-12" id="AddAction">
                                                            <tbody id="ActionBody"></tbody>
                                                        </table>
                                                        @Html.ValidationMessage("ActionRequired", new { id = "ActionRequired", @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        @{
                                            var q = "";
                                            foreach (var item in Model.action)
                                            {

                                                q += item + "^";
                                            }
                                            <input class="form-control" id="Actdata" name="Actdata" type="hidden" value="@q">
                                        }
                                        <br /><br />
                                        @*<button class="btn btn-success" style="float:right;" type="submit" onclick="CalcDays(); Query(); SecFevents(); SecFin(); Validate();">Finish!</button>*@
                                        <button class="btn btn-success" style="float:right;" type="submit" value="submit" onclick="CalcDays(); Query(); SecFevents(); SecFin(); CheckState(); Validate();">Finish!</button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="modal fade" id="Cmds" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="min-width:900px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Events</h5>
            </div>
            <div class="modal-body mCustomScrollbar _mCS_5 mCS-autoHide mCS_no_scrollbar" style="overflow: visible;">
                <div id="mCSB_5" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside" tabindex="0" style="max-height: none;">
                    <div id="mCSB_5_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">
                        <div class="card-body">
                            <div class="mb-3 row container-fluid">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div>
                                                <div class="alert alert-info alert-outline" role="alert">
                                                    Click any row to add that event.
                                                    <div style="float:right">
                                                        <span>Search Event</span>
                                                        <input id="myInput" type="text" placeholder="Search..">
                                                    </div>

                                                </div>
                                                <div class="col-12" style="max-height:400px;overflow:auto">
                                                    <table id="TableSearch" class="table table-striped table-bordered source">
                                                        <thead>
                                                            <tr>
                                                                <th>Event no.</th>
                                                                <th>Event text</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var a in Model.events)
                                                            {
                                                                <tr id="move-row">
                                                                    <td>@Html.DisplayFor(item => a.textno)</td>
                                                                    <td>@Html.DisplayFor(item => a.messagetext)</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-outline" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Acts" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="min-width:900px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Select Actions</h5>
            </div>
            <div class="modal-body mCustomScrollbar _mCS_5 mCS-autoHide mCS_no_scrollbar" style="overflow: visible;">
                <div id="mCSB_5" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside" tabindex="0" style="max-height: none;">
                    <div id="mCSB_5_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">
                        <div class="card-body">
                            <div class="mb-3 row container-fluid">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div style="min-height:350px;" class="AllDiv2 eventR">
                                                <table class="table table-striped table-bordered">
                                                    <tbody>
                                                        <tr>
                                                            <td>Create incident</td>
                                                            <td><button type="button" class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#CrIn" style="float:right;" onclick="HideDivs('UpdateIncidentBtn', 'InciCreateBtn');">Add </button></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Close incident</td>
                                                            <td><button type="button" class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#ClIn" style="float:right;" onclick="HideDivs('UpdateCLBtn', 'InciCloseBtn');">Add </button></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Send e-mail</td>
                                                            <td><button type="button" class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#Semail" style="float:right;" onclick="HideDivs('UpdateBtn', 'AddBtn');">Add </button></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Bios Password</td>
                                                            <td><button type="button" class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#BiosPassword" style="float:right;" onclick="HideDivs('UpdatePasswordtBtn', 'PasswordCreateBtn');">Add </button></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Reboot Device</td>
                                                            <td><button type="button" class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#RebootD" style="float:right;" onclick="HideDivs('UpdatePasswordtBtn', 'PasswordCreateBtn');">Add </button></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div style="min-height:350px;" class="AllDiv2 stateR">
                                                <table class="table table-striped table-bordered">
                                                    <tbody>
                                                        <tr>
                                                            <td>Create incident</td>
                                                            <td><button type="button" class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#CrIn" style="float:right;" onclick="HideDivs('UpdateIncidentBtn', 'InciCreateBtn');">Add </button></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Close incident</td>
                                                            <td><button type="button" class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#ClIn" style="float:right;" onclick="HideDivs('UpdateCLBtn', 'InciCloseBtn');">Add </button></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Send e-mail</td>
                                                            <td><button type="button" class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#Semail" style="float:right;" onclick="HideDivs('UpdateBtn', 'AddBtn');">Add </button></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Reboot Device</td>
                                                            <td><button type="button" class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#RebootD" style="float:right;" onclick="HideDivs('UpdatePasswordtBtn', 'PasswordCreateBtn');">Add </button></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div style="min-height:350px;" class="AllDiv2 incidentR">
                                                <table class="table table-striped table-bordered">
                                                    <tbody>
                                                        <tr>
                                                            <td>Close incident</td>
                                                            <td><button type="button" class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#ClIn" style="float:right;" onclick="HideDivs('UpdateCLBtn', 'InciCloseBtn');">Add </button></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Send e-mail</td>
                                                            <td><button type="button" class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#Semail" style="float:right;" onclick="HideDivs('UpdateBtn', 'AddBtn');">Add </button></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-outline" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Semail" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="min-width:920px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Configure E-mail</h5>
            </div>
            <div class="modal-body mCustomScrollbar _mCS_5 mCS-autoHide mCS_no_scrollbar" style="overflow: visible;">
                <div id="mCSB_5" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside" tabindex="0" style="max-height: none;">
                    <div id="mCSB_5_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">
                        <div class="card-body">
                            <div class="mb-3 row container-fluid">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="custom-control custom-checkbox checkbox-primary">
                                                @Html.CheckBox("actDeactive", false, new { @class = "custom-control-input" })
                                                <label class="custom-control-label" for="actDeactive">Activated</label>
                                            </div>
                                            <div class="custom-control custom-checkbox checkbox-primary">
                                                @Html.CheckBox("onlyonerror", false, new { @class = "custom-control-input" })
                                                <label class="custom-control-label" for="onlyonerror">Only if previous action failed</label>
                                            </div>
                                            <br />
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-1" style="padding: 50px 0; text-align: center;">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        @Html.RadioButton("gg", "one", true, new { id = "RC", @class = "custom-control-input", @onclick = "SendEmail(\"ReCon\")" })
                                                        <label class="custom-control-label" for="RC"></label>
                                                    </div>
                                                </div>
                                                <div class="col-md-11" style="border: 1px solid lightgray;">
                                                    <div class="mb-3" id="ReCon">
                                                        <label class="control-label">Resource Contact</label>
                                                        <div class="custom-control custom-checkbox checkbox-primary">
                                                            @Html.CheckBox("C1", false, new { @class = "custom-control-input" })
                                                            <label class="custom-control-label" for="C1">Contact 1</label>
                                                        </div>
                                                        <div class="custom-control custom-checkbox checkbox-primary">
                                                            @Html.CheckBox("C2", false, new { @class = "custom-control-input" })
                                                            <label class="custom-control-label" for="C2">Contact 2</label>
                                                        </div>
                                                        <div class="custom-control custom-checkbox checkbox-primary">
                                                            @Html.CheckBox("C3", false, new { @class = "custom-control-input" })
                                                            <label class="custom-control-label" for="C3">Contact 3</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1" style="padding: 40px 0; text-align: center;">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        @Html.RadioButton("gg", "two", false, new { id = "EM", @class = "custom-control-input", @onclick = "SendEmail(\"EmCon\")" })
                                                        <label class="custom-control-label" for="EM"></label>
                                                    </div>
                                                </div>
                                                <div class="col-md-11" style="border: 1px solid lightgray; border-top: 0;">
                                                    <div class="mb-3" id="EmCon">
                                                        <label class="control-label">E-mail Address: Separated by semicolon(;)</label>
                                                        @Html.TextArea("emails", null, new { placeholder = "Enter e-mail Addresses [1000 character limit]", @class = "form-control", maxlength = "1000" })
                                                    </div>
                                                </div>
                                                <div class="col-md-1" style="padding: 30px 0; text-align: center;">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        @Html.RadioButton("gg", "three", false, new { id = "AC", @class = "custom-control-input", @onclick = "SendEmail(\"AnCon\")" })
                                                        <label class="custom-control-label" for="AC"></label>
                                                    </div>
                                                </div>
                                                <div class="col-md-11" style="border: 1px solid lightgray; border-top: 0;">
                                                    <div class="mb-3" id="AnCon">
                                                        <label class="control-label">Any Contact</label>
                                                        @Html.DropDownList("AnyCont", (IEnumerable<SelectListItem>)ViewData["Contact"], "", new { @class = "form-control col-md-12" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label class="control-label">Mail Subject</label>
                                                @Html.TextBox("eSubject", null, new { placeholder = "Enter e-mail Subject", @class = "form-control", maxlength = "99", required = "" })
                                            </div>
                                            <div class="mb-3">
                                                <label class="control-label">Mail Message</label>
                                                @Html.TextArea("emessage", "$deviceid $timestamp $pmid $creationtime $orignalpmid", new { placeholder = "Enter e-mail Message", @class = "form-control", required = "", maxlength = "499" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="modal-footer">
                <button id="UpdateBtn" style="display:none" type="button" class="btn btn-success" data-bs-dismiss="modal" onclick="UpdateEmailRow()">Update</button>
                <button id="AddBtn" type="button" class="btn btn-success" data-bs-dismiss="modal" onclick="Email();">Add</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="CrIn" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="min-width:900px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Incident Data</h5>
            </div>
            <div class="modal-body mCustomScrollbar _mCS_5 mCS-autoHide mCS_no_scrollbar" style="overflow: visible;">
                <div id="mCSB_5" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside" tabindex="0" style="max-height: none;">
                    <div id="mCSB_5_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">
                        <div class="card-body" style="min-height:400px;">
                            <div class="mb-3 row container-fluid">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="custom-control custom-checkbox checkbox-primary">
                                                @Html.CheckBox("CIactDeactive", false, new { @class = "custom-control-input" })
                                                <label class="custom-control-label" for="CIactDeactive">Activated</label>
                                            </div>
                                            <div class="custom-control custom-checkbox checkbox-primary">
                                                @Html.CheckBox("CIonlyonerror", false, new { @class = "custom-control-input" })
                                                <label class="custom-control-label" for="CIonlyonerror">Only if previous action failed</label>
                                            </div>
                                            <br />
                                        </div>
                                        <div class="input-group mb-1 col-md-12">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroup-sizing-default">Priority </span>
                                            </div>
                                            @Html.TextBox("actClassification", 1, new { type = "number", min = "1", max = "9", step = "1", @class = "form-control col-md-1" })
                                        </div>
                                        <br /><br />
                                        <div class="mb-3 col-md-12">
                                            <label class="control-label">Topic</label>
                                            @Html.TextBox("Topic", null, new { placeholder = "Enter Topic", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="modal-footer">
                <button id="InciCreateBtn" type="button" class="btn btn-success" data-bs-dismiss="modal" onclick="Create();">Add</button>
                <button id="UpdateIncidentBtn" style="display:none" type="button" class="btn btn-success" data-bs-dismiss="modal" onclick="UpdateIncidentRow()">Update</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ClIn" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="min-width:900px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Close Incident Data</h5>
            </div>
            <div class="modal-body mCustomScrollbar _mCS_5 mCS-autoHide mCS_no_scrollbar" style="overflow: visible;">
                <div id="mCSB_5" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside" tabindex="0" style="max-height: none;">
                    <div id="mCSB_5_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">
                        <div class="card-body" style="min-height:400px;">
                            <div class="mb-3 row container-fluid">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="custom-control custom-checkbox checkbox-primary">
                                                @Html.CheckBox("ClactDeactive", false, new { @class = "custom-control-input" })
                                                <label class="custom-control-label" for="ClactDeactive">Activated</label>
                                            </div>
                                            <div class="custom-control custom-checkbox checkbox-primary">
                                                @Html.CheckBox("Clonlyonerror", false, new { @class = "custom-control-input" })
                                                <label class="custom-control-label" for="Clonlyonerror">Only if previous action failed</label>
                                            </div>
                                            <br />
                                        </div>
                                        <label class="control-label col-md-12">Rule</label>
                                        @Html.DropDownList("jobid", (IEnumerable<SelectListItem>)ViewData["Rule"], "", new { @class = "form-control col-md-12" })
                                        <span style="display:none; " class="form-text text-muted text-danger" id="inc-val">required</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="modal-footer">
                <button id="InciCloseBtn" type="button" class="btn btn-success" onclick="Close();">Add</button>
                <button id="UpdateCLBtn" style="display:none" type="button" class="btn btn-success" onclick="UpdateCloseIncidentRow()">Update</button>
            </div>
        </div>
    </div>
</div>


<!--Bios Password Modal Start-->

<div class="modal fade" id="BiosPassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="min-width:900px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">BIOS Pasword</h5>
            </div>
            <div class="modal-body mCustomScrollbar _mCS_5 mCS-autoHide mCS_no_scrollbar" style="overflow: visible;">
                <div id="mCSB_5" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside" tabindex="0" style="max-height: none;">
                    <div id="mCSB_5_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">
                        <div class="card-body" style="min-height:400px;">
                            <div class="mb-3 row container-fluid">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <br />
                                            <div class="row pt-3 pl-3 pb-2">
                                                <div class="col-md-3 custom-control custom-radio custom-control-inline">
                                                    @Html.RadioButton("RadioPassOpt", "StaticPassword", true, new { id = "radio33", @class = "custom-control-input" })
                                                    <label class="custom-control-label" for="radio33">Static Password</label>
                                                </div>
                                                <div class="col-md-3 custom-control custom-radio custom-control-inline">
                                                    @Html.RadioButton("RadioPassOpt", "DynamicPassword", false, new { id = "radio44", @class = "custom-control-input" })
                                                    <label class="custom-control-label" for="radio44">Dynamic Password</label>
                                                </div>
                                            </div>
                                            @if (true)
                                            {
                                                <div id="password-div">
                                                    <div id="new-pass-div">
                                                        <label id="lbl-pass">Password:</label>
                                                        @Html.Password("BioPassword", (String)ViewBag.StaticPass, new { @class = "form-control passwordFiled restrictSpecial", maxlength = "8" })
                                                        <small id="password-valid" style="color:red !important; display:none;" class="form-text text-muted">required</small>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {

                                            }

                                            <div id="variable-div" style="display:none;">
                                                <div id="variable-only-div">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <label id="lbl-pass-d">Password:</label>
                                                            @Html.Password("BioPasswordDynamic", (String)ViewBag.DynamicPassIn, new { @class = "form-control passwordFiled restrictSpecial", maxlength = "8", placeholder = "Max length 8 character" })
                                                            <small id="password-valid-dynamic" style="color:red !important; display:none;" class="form-text text-muted">Max character limit reached</small>
                                                            <small id="war-msg" style="color:green !important; display:none;" class="form-text text-muted">Special characters not allowed</small>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-5">
                                                            <label class="font-weight-bold">Available Variables</label>
                                                        </div>
                                                        <div class="col-1"></div>
                                                        <div class="col-5">
                                                            <label class="font-weight-bold">Selected Variables</label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-5 border ml-2 vriable-font pt-1 variableDiv2" style="height: 100px;" id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                            <span class="pl-1 pr-1 variable-style nowrap" draggable="true" ondragstart="drag(event)" id="ADDDEVICE">$ADDDEVICE$</span>
                                                            <span class="pl-1 pr-1 variable-style nowrap" draggable="true" ondragstart="drag(event)" id="ADDDATE">$ADDDATE$</span>
                                                            @*<span class="pl-1 pr-1 variable-style nowrap" draggable="true" ondragstart="drag(event)" id="TIMESTAMP">$TIMESTAMP$</span>*@


                                                        </div>
                                                        <div class="col-md-1"></div>
                                                        <div class="col-md-5 border ml-2 vriable-font pt-1 variableDiv2" style="height: 100px;" id="div2" ondrop="drop(event)" ondragover="allowDrop(event)">


                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4"></div>
                                                        <div class="col-md-4 text-center">
                                                            <label class="font-weight-bold">Drag and drop variable</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <small id="variable-char" style="" class="form-text text-muted"></small>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <small id="variable-valid" style="color:red !important; display:none;" class="form-text text-muted">Variable is required</small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr />
                                                <div class="row">
                                                    <div class="col-md-4"></div>
                                                    <div class="col-md-4 text-center">
                                                        <label class="font-weight-bold" id="dynamic-pass-result"></label>
                                                    </div>
                                                    <div class="col-md-4">

                                                    </div>
                                                </div>
                                                <hr />
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="modal-footer">
                <button id="PasswordCreateBtn" type="button" class="btn btn-success" data-bs-dismiss="modal" onclick="SetPassword();">Add</button>
                <button id="UpdatePasswordtBtn" style="display:none" type="button" class="btn btn-success" data-bs-dismiss="modal" onclick="UpdateCloseBIOSRow()">Update</button>
            </div>
        </div>
    </div>
</div>



<!--Bios Password Modal End-->
<!--Reboot ATM Rule Start-->
<div class="modal fade" id="RebootD" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="min-width:900px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Reboot Device</h5>
            </div>
            <div class="modal-body mCustomScrollbar _mCS_5 mCS-autoHide mCS_no_scrollbar" style="overflow: visible;">
                <div id="mCSB_5" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside" tabindex="0" style="max-height: none;">
                    <div id="mCSB_5_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">
                        <div class="card-body" style="min-height:400px;">
                            <div class="mb-3 row container-fluid">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="mb-3 col-md-12">
                                            <label class="control-label">Action</label>
                                            <input type="text" class="form-control" disabled="disabled" value="Reboot ATM">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="modal-footer">
                <button id="InciCloseBtn" type="button" class="btn btn-success" data-bs-dismiss="modal" onclick="RebootDev();">Add</button>
                <button id="UpdateCLBtn" style="display:none" type="button" class="btn btn-success" data-bs-dismiss="modal" onclick="UpdateCloseIncidentRow()">Update</button>

            </div>
        </div>
    </div>
</div>
<!--Reboot ATM Rule End-->
@*<script src="~/assets/js/global/ForRule.js"></script>*@
<script>

    function CheckState() {
        $('#val-states').hide();

        if ($('#radio6').is(':checked')) {
            $('#Ttype').hide();
            var total = 0;
            $.each($("input[name='StateChk']:checked"), function () {
                var count = 1;
                var i = $(this).val();
                for (i = 0; i < ($(this).val() - 1); i++) {
                    count *= 2;
                }
                total += count;
            });
            if (total == 0) {
                $('#Trig').click();
                $('#val-states').show();
                event.preventDefault();
            }
            else {
                 $('#val-states').hide();
            }
        }
    }

    //Bios Passowrd Script start//
    $('#radio44').click(function () {
        $('#password-div').hide();
        $('#variable-div').show();
    });
    $('#radio33').click(function () {
        $('#password-div').show();
        $('#variable-div').hide();
    });

    function getVariablesLenght(variables) {
        var Vlength = 0;
        var passwordIn = $('#BioPasswordDynamic').val();
        if (passwordIn != "") {
            var len = passwordIn.length;
            Vlength = Vlength + len;
        }

        if (variables.indexOf("ADDDATE") != -1) {
            Vlength = Vlength + 8;
        }
        if (variables.indexOf("ADDDEVICE") != -1) {
            Vlength = Vlength + 7;
        }
        return Vlength;
    }
    function CheckSpecialChar(id) {
        setTimeout(function () {
            var elmId = $('#' + id);
            //get the value of the input text
            var data = elmId.val();
            //replace the special characters to ''
            var dataFull = data.replace(/[^\w\s]/gi, '');
            //set the new value of the input text without special characters
            elmId.val(dataFull);
        });
    }
    $("#BioPassword").keydown(function (event) {
        var keycode = event.keyCode ? event.keyCode : event.which;
        if (keycode != 189) { //it does't allow user to enter minus(-) symbol
        }
        else {
            event.preventDefault();
        }
    });

    $(".passwordFiled").keydown(function (e) {

        var inputKeyCode = e.keyCode ? e.keyCode : e.which;

        if (inputKeyCode != null) {
            if (inputKeyCode == 45) {
                e.preventDefault();
            }
        }
    });

    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {

        ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        ev.target.appendChild(document.getElementById(data));
    }
    $('.restrictSpecial').on('keypress', function (event) {
        $('#war-msg').hide();
        var regex = new RegExp("^[a-zA-Z0-9\\-\\s]+$");
        var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
        if (!regex.test(key)) {
            $('#war-msg').show();
            event.preventDefault();
            return false;
        }
    });
    $('.restrictSpecial').bind('paste', function () {
        var elmId = $(this).attr('id');
        CheckSpecialChar(elmId);
    });
    //Count varialbe char
    $('.variableDiv2').mouseover(function () {
        checkChar();

    })
    $('#BioPasswordDynamic').keyup(function () {
        checkChar();
    });

    function checkChar() {
        var dynamicPass = $('#div2').text();
        dynamicPass = dynamicPass.trim();
        dynamicPass = dynamicPass.replace(/\s+/g, '');

        //End Result of Password
        var FinalPass = "";
        var paasInp = $('#BioPasswordDynamic').val();
        FinalPass = paasInp;
        if (dynamicPass.indexOf("ADDDATE") != -1) {
            var d = new Date();
            var month = d.getMonth() + 1;
            var day = d.getDate();

            var output = d.getFullYear() +
                (('' + month).length < 2 ? '0' : '') + month +
                (('' + day).length < 2 ? '0' : '') + day;


            FinalPass = FinalPass + output;
        }
        if (dynamicPass.indexOf("ADDDEVICE") != -1) {
            FinalPass = FinalPass + "ATMID";
        }

        FinalPass = "Password: " + FinalPass;
        $('#dynamic-pass-result').text(FinalPass);
        var n = getVariablesLenght(dynamicPass);
        $('#variable-char').text("Total characters: " + n);
    }
    //Bios Passowrd Script end//

    function UpdateEmailRow() {
        Email();
        var index = $("#UpdateBtn").val();
        document.getElementById("AddAction").deleteRow(index);
    }

    function UpdateIncidentRow() {
        Create();
        var index = $("#UpdateIncidentBtn").val();
        document.getElementById("AddAction").deleteRow(index);
    }

    function UpdateCloseIncidentRow() {
         var inc = $('#jobid').val();
        if (inc == "") {
            $('#inc-val').show();
            return false;
        }
        else {
            $('#inc-val').hide();
            var arr = [];
            var jobid = $('#jobid').val();
            var act, onlyerror;
            if ($('#ClactDeactive').is(':checked')) { act = "1" } else { act = "0" }
            if ($('#Clonlyonerror').is(':checked')) { onlyerror = "1" } else { onlyerror = "0" }
            arr.push(jobid + "~" + act + "~" + onlyerror);

            var row = $('<tr>' +
                '<td>Close Incident<span style="float:right" id="RemoveAction"  class="icon dripicons-cross" ></span><span id="EditAct" style="float:right" class="icon dripicons-document-edit"></span></td>' +
                '<td hidden>' + arr + '</td>' +
                '</tr>');
            $('#AddAction tbody').append(row);
            $('#ClIn').modal('hide');
        }
        //Close();
        var index = $("#UpdateCLBtn").val();
        document.getElementById("AddAction").deleteRow(index);
    }
    function UpdateCloseBIOSRow() {
        SetPassword();
        var index = $("#UpdatePasswordtBtn").val();
        document.getElementById("AddAction").deleteRow(index);
    }
    $(document).ready(function () {


    });

    $("#AddAction").on('dblclick', '#RemoveAction', function () {
        $(this).closest('tr').remove();
    })

    $("#AddAction").on('click', '#EditAct', function () {

        var tableRowNum = $(this).closest("td").index();
        var currentRow = $(this).closest("tr");
        var col1 = currentRow.find("td:eq(0)").text(); // get current row 1st table cell TD value
        var col2 = currentRow.find("td:eq(1)").text(); // get current row 2nd table cell TD value

        console.log(col1);
        console.log(col2);
        if (col1 == "Create incident" || col1 == "Create Incident") {
            console.log("Create Incident");
            $("#UpdateIncidentBtn").prop('value', tableRowNum);
            $("#UpdateIncidentBtn").css("display", "block");
            $("#InciCreateBtn").css("display", "none");
            col2 = col2.split("~");
            $("#Topic").val(col2[1]);
            $("#actClassification").val(col2[0]);
            $("#C1").prop("checked", "false");
            if (col2[2] == "1") { $("#CIactDeactive").prop("checked", true); } else { $("#CIactDeactive").prop("checked", false); }
            if (col2[3] == "1") { $("#CIonlyonerror").prop("checked", true); } else { $("#CIonlyonerror").prop("checked", false); }
            $("#CrIn").modal('show');

        }
        else if (col1 == "Close Incident" || col1 == "Close incident") {
            console.log("close");
            $("#UpdateCLBtn").prop('value', tableRowNum);
            $("#UpdateCLBtn").css("display", "block");
            $("#InciCloseBtn").css("display", "none");
            col2 = col2.split("~");
            $("#jobid").val(col2[0].trim());
            if (col2[1] == "1") { $("#ClactDeactive").prop("checked", true); } else { $("#ClactDeactive").prop("checked", false); }
            if (col2[2] == "1") { $("#Clonlyonerror").prop("checked", true); } else { $("#Clonlyonerror").prop("checked", false); }
            $("#ClIn").modal('show');
        }
        else if (col1 == "Send e-mail") {
            console.log("send e-mail");
            $("#UpdateBtn").prop('value', tableRowNum);
            $("#UpdateBtn").css("display", "block");
            $("#AddBtn").css("display", "none");
            if (col2.includes("$emails$")) {
                col2 = col2.replace("$emails$", "");
                col2 = col2.split("~");
                $("#EM").prop("checked", true).trigger("click");
                $("#AnyCont").val("");
                $("#emails").val(col2[0]);
                $("#eSubject").val(col2[1]);
                $("#emessage").val(col2[2]);
                $("#C1").prop("checked", "false");
                $("#C2").prop("checked", "false");
                $("#C3").prop("checked", "false");

                if (col2[3] == "1") { $("#actDeactive").prop("checked", true); } else { $("#actDeactive").prop("checked", false); }
                if (col2[4] == "1") { $("#onlyonerror").prop("checked", true); } else { $("#onlyonerror").prop("checked", false); }
            }

            else if (col2.includes("$CONT$")) {

                col2 = col2.replace("$CONT$", "");
                col2 = col2.split("~");
                first = col2[0].split('');
                $("#emails").val("");
                $("#AnyCont").val("");
                $("#RC").prop("checked", true).trigger("click");
                if (first[0] == "1") {
                    $("#C1").prop("checked", "true");
                }
                if (first[1] == "1") {
                    $("#C2").prop("checked", "true");

                }
                if (first[2] == "1") {
                    $("#C3").prop("checked", "true");
                }

                $("#eSubject").val(col2[1]);
                $("#emessage").val(col2[2]);

                if (col2[3] == "1") { $("#actDeactive").prop("checked", true); } else { $("#actDeactive").prop("checked", false); }
                if (col2[4] == "1") { $("#onlyonerror").prop("checked", true); } else { $("#onlyonerror").prop("checked", false); }
            }
            else if (!col2.includes("$emails$") && !col2.includes("CONT$")) {

                col2 = col2.split("~");


                $("#AC").prop("checked", true).trigger("click");
                $("#emails").val("");
                $("#AnyCont").val(col2[0].trim());
                $("#eSubject").val(col2[1]);
                $("#emessage").val(col2[2]);
                $("#C1").prop("checked", "false");
                $("#C2").prop("checked", "false");
                $("#C3").prop("checked", "false");

                if (col2[3] == "1") { $("#actDeactive").prop("checked", true); } else { $("#actDeactive").prop("checked", false); }
                if (col2[4] == "1") { $("#onlyonerror").prop("checked", true); } else { $("#onlyonerror").prop("checked", false); }

            }
            $("#Semail").modal('show');
        }
        else if (col1 == "Set Password") {

            $("#UpdateCLBtn").prop('value', tableRowNum);
            $("#UpdatePasswordtBtn").css("display", "block");
            $("#PasswordCreateBtn").css("display", "none");
            col2 = col2.split("~");
            //$("#jobid").val(col2[0]);


            if (col2[0].indexOf("ADDDEVICE") != -1 || col2[0].indexOf("ADDDATE") != -1) {//dynamic pass
                var arrList = col2[0].split('$$');

                if (arrList.length == 1) {
                    var secondlist = arrList[0].split('$');
                    if (secondlist.length > 1) {
                        $('#BioPasswordDynamic').val(secondlist[0]);
                        // arrList[1] = arrList[1].replace('$', '');
                        //arrList[1] = arrList[1].replace('$', '');
                        var id = secondlist[1];
                        idn = "#" + id + "";
                        $(idn).remove();
                        secondlist[1] = "$" + secondlist[1] + "$";

                        //add selected variables
                        var element = "<span class='pl-1 pr-1 variable-style nowrap' draggable='true' ondragstart='drag(event)' id='" + id + "'>" + secondlist[1] + "</span>"
                        $('#div2').append(element);
                        $('#radio44').click();
                        $('#variable-div').show();
                        checkChar();
                    }
                    else {
                        arrList[0] = arrList[0].replace('$', '');
                        arrList[0] = arrList[0].replace('$', '');
                        var id = arrList[0];
                        idn = "#" + id + "";
                        $(idn).remove();
                        arrList[0] = "$" + arrList[0] + "$";

                        //add selected variables
                        var element = "<span class='pl-1 pr-1 variable-style nowrap' draggable='true' ondragstart='drag(event)' id='" + id + "'>" + arrList[0] + "</span>"
                        $('#div2').append(element);
                        $('#variable-div').show();
                        checkChar();
                    }

                }
                else { // with mutiple
                    for (var i = 0; i < arrList.length; i++) {
                        arrList[i] = arrList[i].replace('$', '');
                        var id = arrList[i];

                        //remove availabe variables
                        idn = "#" + id + "";
                        $(idn).remove();

                        arrList[i] = "$" + arrList[i] + "$";

                        //add selected variables
                        var element = "<span class='pl-1 pr-1 variable-style nowrap' draggable='true' ondragstart='drag(event)' id='" + id + "'>" + arrList[i] + "</span>"
                        $('#div2').append(element);
                        $('#variable-div').show();
                        checkChar();
                    }
                }





                alert(col2[0]);
            }
            else {//static pass

            }

            if (col2[0].trim() == "1") { $("#SetBioPassword").prop("checked", true); } else { $("#SetBioPassword").prop("checked", false); }
            $("#BiosPassword").modal('show');
        }
        else if (col1 == "Reboot Device") {
            //alert("asd");
        }



    })




    $("#emails").change(function () {

        var userinput = $(this).val();
        var result = emailIsValid(userinput);

        if (result == true) {
            $("#RecepientSyntax").css("display", "none");
            $("#RecepientSyntax").text("");
            //$("#Savejob").prop("disabled", false);
        }
        else {
            //$("#Savejob").prop("disabled", true);
            $("#RecepientSyntax").css("display", "block");
            var text = userinput;
            if (text == "") {
                $("#RecepientSyntax").text("This Field is Required");
            }
            else {
                $("#RecepientSyntax").text("Incorrect Syntax");
            }

        }
    });
    $('#MHrs').on('input', function (event) {
        this.value = this.value.replace(/[^0-9]{2}/g, '');
    });

    $('#MMin').on('input', function (event) {
        this.value = this.value.replace(/[^0-9]{2}/g, '');
    });
    $('#escalation').on('input', function (event) {
        this.value = this.value.replace(/[^0-9]{2}/g, '');
    });

    function emailIsValid(email) {

        //var pattern = /^\b[A-Z0-9._%-]+@@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i;
        var pattern = /^([A-Z0-9._%-]+@@[A-Z0-9.-]+\.[A-Z]{2,4}|[A-Z0-9._%-]+@@[A-Z0-9.-]+\.[A-Z]{2,4};)+$/i;

        return pattern.test(email)
    }

    $("#myInput").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#TableSearch tr").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });


